a {
    color: white;
    text-align: center;
    background-color: black;
    display: inline-block;
    padding: 12px 25px;
    text-decoration: none;
}
a:hover {
    background-color: #ff0000;
}
#active {
    background-color: green;
    color: blue;
}